body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    padding: 20px 120px;
}

/* Navber design  */
.navname{
    font-size: 24px;
    animation: sliderfromtop 0.8s ease-in-out;
}
.nav{
    display: flex;
    justify-content: space-between;
    
    color: #3A3A3A;
    align-items: center;
  
}
.navright{
     display: flex;
    justify-content: space-between;
    gap: 1rem;
    animation: sliderfromright 0.8s ease-in-out;

}
li{
    list-style: none;
    font-weight:600;
}
/* nav hover effect  */
.links{
    transition: all 0.7s ease;
}
.links:hover{
    transform: translateY(-5px) ;
    text-decoration: underline;
}
/* Animation part navbar */

@keyframes sliderfromtop {
    from{
        transform: translatex(-50px);
        opacity: 0;
    }
    to{
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes sliderfromright {
    from{
        transform: translatex(50px);
        opacity: 0;
    }
    to{
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes sliderfromleft {
    from{
        transform: translatex(-50px);
        opacity: 0;
    }
    to{
        transform: translatex(0);
        opacity: 1;
    }
}

/* second section */
.btn{
    background-color: #E02C6D;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

/*main camera section*/

.maincamera{
    background-image: url("./images/Circledesign.svg");
    background-repeat: no-repeat;
    
    background-size:contain;
    height: auto;
    /* width: 100%; */
    animation: sliderfromright 0.8s ease-in-out;
    
}
.image1{
    width: 100%;
    height: auto;

}
.mainfst{
    animation: sliderfromleft 0.8s ease-in-out ;
}
.mainsection{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
    gap: 133px;
       
}
.logo-section{
    margin-top: 69px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 4px 100px rgba(0,0,0,0.2) ;
    padding: 10px;
}