body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

/* Navber design  */
.navname{
    font-size: 24px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    color: #3A3A3A;
    align-items: center;
  
}
.navright{
     display: flex;
    justify-content: space-between;
    gap: 2.1rem;
}
li{
    list-style: none;
    font-weight:600;
}


